* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto monospace', sans-serif;
    color: #fff;
    background-color: rgb(58, 58, 150);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    
}

.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 50px;
    text-align: center;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}

@media (max-width: 580px) {
    body {
        flex-direction: column;
    }
}